[package]
name = "http-serve"
version = "0.1.0"
authors = ["Scott Lamb <slamb@slamb.org>"]
license = "MIT/Apache-2.0"
readme = "README.md"
description = "Conditional GET, HEAD, and byte range serving for abstract HTTP entities."
keywords = ["http", "file", "range"]
categories = ["web-programming::http-server"]
repository = "https://github.com/scottlamb/http-serve"

[badges]
travis-ci = { repository = "scottlamb/http-serve" }

[dependencies]
bytes = "0.4.8"
flate2 = "1.0.1"
futures = "0.1.21"
futures-cpupool = "0.1.8"
http = "0.1.5"
httpdate = "0.3.2"
hyper = "0.12.0"
mime = "0.3.7"
smallvec = "0.6.1"
time = "0.1.40"
unicase = "2.1.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.6", features = ["std", "winbase"] }

[dev-dependencies]
env_logger = "0.5.10"
lazy_static = "1.0.1"
leak = "0.1.2"
log = "0.4.1"
reqwest = "0.8.6"
tempdir = "0.3.7"
tokio = "0.1.6"

[profile.release]
debug = true
